nav.navigation
  a.navigation__link(href="/" data-animation="paragraph") Home
  a.navigation__link(href="/about" data-animation="paragraph") About
  a.navigation__link(href="mailto:asd@gmail.com" data-animation="paragraph") Get in touch
  button.navigation__button
