.preloader
  .preloader__title(data-animation="paragraph")=preloader.data.title

  .preloader__loader
    p.preloader__loader__label(data-animation="paragraph")=preloader.data.label

    .preloader__loader__line

    .preloader__loader__counter
      .preloader__loader__counter__text(data-animation="paragraph")=preloader.data.counter
